@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    --primary-bright-red:hsl(12, 88%, 59%);
    --darker-bright-red:hsl(12, 76%, 51%);
    --primary-dark-blue:hsl(228, 39%, 23%);
    --neutral-dark-grayish-blue:hsl(227, 12%, 61%);
    --neutral-very-dark-blue:hsl(233, 12%, 13%);
    --neutral-very-pale-red:hsl(13, 100%, 96%);
    --neutral-very-light-grey:hsl(0, 0%, 98%);
}

.desktop-header{
    display: none;
}

.mobile-navigation{
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.mobile-navigation nav ul{
    font-weight: 500;
}

body{
    background-color: white;
    font-family: "Be Vietnam Pro";
}

@media screen and (min-width:375px){
    .mobile-header{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .mobile-header #mobile_logo{
        margin: 1rem;
    }

    .mobile-header #hamburger_logo{
        margin: 1rem;
    }

    .first-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .first-section img{
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .first-section h1{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 0 32px;
    }

    .first-section p {
        font-size: 1rem;
        text-align: center;
        padding: 0 32px;
        margin: 2rem 0;
        color: var(--neutral-dark-grayish-blue);
    }

    .first-section a {
        text-decoration: none;
        padding: 10px;
        background-color: var(--primary-bright-red);
        color: var(--neutral-very-light-grey);
        border-radius: 30px;
        padding: 13px 25px;
        transition: ease-in-out 0.5s;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        -webkit-box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
    }

    /* .first-section a:hover{
        background-color: var(--darker-bright-red);
    } */

    .second-section article h1{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding: 0 32px;
    }

    .second-section article p{
        font-size: 1rem;
        text-align: center;
        color: var(--neutral-dark-grayish-blue);
        margin: 2rem 0;
        padding: 0 32px;
    }

    .second-section article h2 span{
        background-color: var(--primary-bright-red);
        color: var(--neutral-very-light-grey);
        padding: 10px 25px;
        border-radius: 18px;
    }

    .second-section article h2{
        background-color: var(--neutral-very-pale-red);
        padding: 10px 0;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
    }

    /*SECTION 3 & 4*/

    .third-section {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .third-section h1{
        color: var(--primary-dark-blue);
        font-size: 2rem;
        text-align: center;
        /* width: 75%; */
        font-weight: 600;
        /* margin-top: 4rem; */
        padding: 0 32px;
    }

    .third-section p{
        margin-bottom: 2rem;
        padding: 0 32px;
        color: var(--neutral-dark-grayish-blue);
    }

    .third-section a{
        text-decoration: none;
        padding: 10px;
        background-color: var(--primary-bright-red);
        color: var(--neutral-very-light-grey);
        border-radius: 30px;
        padding: 13px 25px;
        transition: ease-in-out 0.5s;
        -webkit-box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
    }

    .third-section h2{
        color: var(--primary-dark-blue);
        font-size: 1.3rem;
        text-align: center;
        font-weight: 600;
    }

    .third-section article{
        margin-top: 32px;
    }

    .swiper {
        width: 100%;
        height: 300px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        object-fit: cover;
        margin: 0 auto;
        height: 90px;
        margin-bottom: 1.5rem;
      }

      .swiper-pagination span{
        background-color: orange;
      }

    .fourth-section {
        background-color: var(--darker-bright-red);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fourth-section h1{
        color: var(--neutral-very-light-grey);
        font-size: 2rem;
        text-align: center;
        width: 75%;
        font-weight: 600;
        margin-top: 4rem;
        padding: 0 32px;
    }

    .fourth-section a {
        text-decoration: none;
        background-color: var(--neutral-very-light-grey); 
        color: var(--primary-bright-red);
        border-radius: 30px;
        padding: 13px 25px;
        transition: ease-in-out 0.5s;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        -webkit-box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
    }
    
    footer{
        background-color: var(--neutral-very-dark-blue);
    }

    .inbox_update{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

    .inbox_update input{
        margin-right: 0.5rem;
        border-radius: 20px;
        padding: 13px 10px;
    }

    .inbox_update a{
        text-decoration: none;
        color: var(--neutral-very-pale-red);
        background-color: var(--primary-bright-red);
        padding: 13px 27px;
        border-radius: 25px;
        transition: 0.5s ease-in-out;
        -webkit-box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
    }

    /* .inbox_update a:hover{
        background-color: var(--neutral-very-pale-red);
    } */

    .nav_footer{
        color: var(--neutral-very-light-grey);
        display: flex;
        justify-content: space-evenly;
        margin: 1.5rem 0;
    }

    .nav_footer nav ul{
        margin: 5px 0;
        transition: 0.4s ease-in-out;
    }

    .social_medias_logos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .social_medias_logos img{
        width: 100%;
        max-width: 30px;
    }

    .social_medias_logos a{
        transition: 0.4s ease-in-out;
    }

    .copyright_footer{
        margin-top: 2rem;
    }

    .copyright_footer img{
        margin: 0 auto;
        width: 100%;
        max-width: 180px;
        display: flex;
        filter: invert(97%) sepia(0%) saturate(7488%) hue-rotate(77deg) brightness(110%) contrast(100%);
    }

    .copyright_footer p {
        color: var(--neutral-very-light-grey);
        text-align: center;
    }

}

@media screen and (min-width:500px){
    .second-section article h2{
        background-color: var(--neutral-very-pale-red);
        padding: 10px 0;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width:800px){
    .mobile-header{
        display: none;
    }

    .desktop-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 32px;
    }

    .desktop-header nav ul{
        display: inline;
        margin-right: 10px;
    }

    .desktop-header nav ul a{
        text-decoration: none;
        color: black;
    }

    .desktop-header > a{
        text-decoration: none;
        padding: 10px;
        background-color: var(--primary-bright-red);
        color: var(--neutral-very-light-grey);
        border-radius: 30px;
        padding: 13px 25px;
        transition: ease-in-out 0.5s;
        -webkit-box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.68); 
    }

    .desktop-header > a:hover{
        background-color: var(--darker-bright-red);
    }

    .first-section a:hover{
        background-color: var(--darker-bright-red);
    }

    .third-section a:hover{
        background-color: var(--darker-bright-red);
    }

    .fourth-section a:hover{
        background-color: var(--darker-bright-red);
        color: var(--neutral-very-light-grey);
    }

    .inbox_update a:hover{
        background-color: var(--darker-bright-red);
    }

    .nav_footer nav ul:hover{
        color: var(--primary-bright-red);
    }

    .social_medias_logos a:hover{
        background-color: var(--primary-bright-red);
    }

}